.elementor-110 .elementor-element.elementor-element-6163d0d3 > .elementor-container{max-width:1200px;}.elementor-110 .elementor-element.elementor-element-6163d0d3 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-110 .elementor-element.elementor-element-7b2c46b5 > .elementor-element-populated, .elementor-110 .elementor-element.elementor-element-7b2c46b5 > .elementor-element-populated > .elementor-background-overlay, .elementor-110 .elementor-element.elementor-element-7b2c46b5 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-227c29f7{text-align:left;}.elementor-110 .elementor-element.elementor-element-227c29f7 .elementor-image img{width:280px;}.elementor-110 .elementor-element.elementor-element-227c29f7 > .tippy-popper .tippy-tooltip .tippy-content{text-align:center;}.ee-tooltip.ee-tooltip-227c29f7.to--top,
							 .ee-tooltip.ee-tooltip-227c29f7.to--bottom{transform:translateX(0px);}.ee-tooltip.ee-tooltip-227c29f7.to--left,
							 .ee-tooltip.ee-tooltip-227c29f7.to--right{transform:translateY(0px);}.elementor-110 .elementor-element.elementor-element-4c03d48 > .elementor-element-populated, .elementor-110 .elementor-element.elementor-element-4c03d48 > .elementor-element-populated > .elementor-background-overlay, .elementor-110 .elementor-element.elementor-element-4c03d48 > .elementor-background-slideshow{border-radius:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__container{min-height:40px;}.elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__submit{min-width:40px;}body:not(.rtl) .elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__icon{padding-left:calc(40px / 3);}body.rtl .elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__icon{padding-right:calc(40px / 3);}.elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__input, .elementor-110 .elementor-element.elementor-element-3811792.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(40px / 3);padding-right:calc(40px / 3);}.elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__icon{font-size:15px;}.elementor-110 .elementor-element.elementor-element-3811792 input[type="search"].elementor-search-form__input{font-family:"Poppins", Sans-serif;font-size:1em;font-weight:400;text-transform:lowercase;line-height:1.2em;}.elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__input,
					.elementor-110 .elementor-element.elementor-element-3811792 .elementor-search-form__icon,
					.elementor-110 .elementor-element.elementor-element-3811792 .elementor-lightbox .dialog-lightbox-close-button,
					.elementor-110 .elementor-element.elementor-element-3811792 .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-110 .elementor-element.elementor-element-3811792.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{color:#54595F;}.elementor-110 .elementor-element.elementor-element-3811792:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#FFFFFF;border-color:#54595F;border-width:1px 1px 1px 1px;border-radius:0px;}.elementor-110 .elementor-element.elementor-element-3811792.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#FFFFFF;border-color:#54595F;border-width:1px 1px 1px 1px;border-radius:0px;}.elementor-110 .elementor-element.elementor-element-3811792 > .tippy-popper .tippy-tooltip .tippy-content{text-align:center;}.elementor-110 .elementor-element.elementor-element-6163d0d3:not(.elementor-motion-effects-element-type-background), .elementor-110 .elementor-element.elementor-element-6163d0d3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-110 .elementor-element.elementor-element-6163d0d3, .elementor-110 .elementor-element.elementor-element-6163d0d3 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-6163d0d3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 5% 0% 5%;}.elementor-110 .elementor-element.elementor-element-6163d0d3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-110 .elementor-element.elementor-element-7da2feb7 > .elementor-container{max-width:1200px;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-menu-toggle{margin:0 auto;background-color:rgba(0,0,0,0);font-size:25px;border-width:2px;border-radius:50px;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu .elementor-item{font-family:"Poppins", Sans-serif;font-size:20px;font-weight:900;text-transform:lowercase;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;padding-top:18px;padding-bottom:18px;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main .elementor-item:focus{color:#FFFFFF;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:rgba(110, 193, 228, 0);}.elementor-110 .elementor-element.elementor-element-37c484e1 .e--pointer-framed .elementor-item:before,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .e--pointer-framed .elementor-item:after{border-color:rgba(110, 193, 228, 0);}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FFFFFF;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#54595F;}.elementor-110 .elementor-element.elementor-element-37c484e1 .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#54595F;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-item:before{border-radius:0px;}.elementor-110 .elementor-element.elementor-element-37c484e1 .e--animation-shutter-in-horizontal .elementor-item:before{border-radius:0px 0px 0 0;}.elementor-110 .elementor-element.elementor-element-37c484e1 .e--animation-shutter-in-horizontal .elementor-item:after{border-radius:0 0 0px 0px;}.elementor-110 .elementor-element.elementor-element-37c484e1 .e--animation-shutter-in-vertical .elementor-item:before{border-radius:0 0px 0px 0;}.elementor-110 .elementor-element.elementor-element-37c484e1 .e--animation-shutter-in-vertical .elementor-item:after{border-radius:0px 0 0 0px;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a, .elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-menu-toggle{color:#FFFFFF;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown{background-color:#54595F;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a:hover,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-menu-toggle:hover{color:#FFFFFF;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a:hover,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a.highlighted{background-color:#7A7A7A;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown a.elementor-item-active{color:#FFFFFF;background-color:#7A7A7A;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown .elementor-item, .elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;text-transform:uppercase;}.elementor-110 .elementor-element.elementor-element-37c484e1 div.elementor-menu-toggle{color:#FFFFFF;}.elementor-110 .elementor-element.elementor-element-37c484e1 div.elementor-menu-toggle:hover{color:#FFFFFF;}.elementor-110 .elementor-element.elementor-element-37c484e1 > .tippy-popper .tippy-tooltip .tippy-content{text-align:center;}.elementor-110 .elementor-element.elementor-element-7da2feb7:not(.elementor-motion-effects-element-type-background), .elementor-110 .elementor-element.elementor-element-7da2feb7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#54595F;}.elementor-110 .elementor-element.elementor-element-7da2feb7{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 5% 0% 5%;z-index:1001;}.elementor-110 .elementor-element.elementor-element-7da2feb7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px){.elementor-110 .elementor-element.elementor-element-227c29f7 .elementor-image img{width:280px;}.elementor-110 .elementor-element.elementor-element-4c03d48 > .elementor-element-populated{padding:0px 0px 0px 70px;}.elementor-110 .elementor-element.elementor-element-6163d0d3{padding:10px 25px 10px 25px;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:15px !important;}.elementor-110 .elementor-element.elementor-element-7da2feb7{padding:15px 15px 15px 15px;}}@media(max-width:1024px) and (min-width:768px){.elementor-110 .elementor-element.elementor-element-7b2c46b5{width:50%;}.elementor-110 .elementor-element.elementor-element-4c03d48{width:50%;}}@media(max-width:767px){.elementor-110 .elementor-element.elementor-element-7b2c46b5{width:50%;}.elementor-110 .elementor-element.elementor-element-7b2c46b5 > .elementor-element-populated{padding:0px 25px 0px 0px;}.elementor-110 .elementor-element.elementor-element-227c29f7{text-align:left;}.elementor-110 .elementor-element.elementor-element-227c29f7 .elementor-image img{width:100%;}.elementor-110 .elementor-element.elementor-element-4c03d48{width:50%;}.elementor-110 .elementor-element.elementor-element-4c03d48 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-110 .elementor-element.elementor-element-6163d0d3{padding:20px 20px 20px 20px;}.elementor-110 .elementor-element.elementor-element-3ba6ad38{width:100%;}.elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-110 .elementor-element.elementor-element-37c484e1 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:10px !important;}.elementor-110 .elementor-element.elementor-element-7da2feb7{padding:10px 20px 10px 20px;}}/* Start custom CSS for nav-menu, class: .elementor-element-37c484e1 *//* Scroll Bar Hack - CSS Styled */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #54595F;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

/* Make All Menu items Same Width - 25% */
.elementor-nav-menu li {
    width: 25%;
}

@media only screen and (max-width: 1025px) {
	.elementor-nav-menu li {
			width: 100%;
	}
}

/* Dropdown Adjust Back To Full Width - 100% */
.menu-item-48 {
    width: 100% !important;
}

.menu-item-49 {
    width: 100% !important;
}

.menu-item-50 {
    width: 100% !important;
}

.menu-item-205 {
    width: 100% !important;
}

.menu-item-41 {
    width: 100% !important;
}

.menu-item-42 {
    width: 100% !important;
}

.menu-item-43 {
    width: 100% !important;
}

/* Mobile Menu Outline None */
.elementor-17 .elementor-element.elementor-element-635456fb div.elementor-menu-toggle:hover {
    outline: none;
}

/* Red Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-1:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3705a;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-1:hover, .hvr-sweep-to-bottom-1:focus, .hvr-sweep-to-bottom-1:active {
  color: white;
}
.hvr-sweep-to-bottom-1:hover:before, .hvr-sweep-to-bottom-1:focus:before, .hvr-sweep-to-bottom-1:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Yellow Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-2:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffd15c;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-2:hover, .hvr-sweep-to-bottom-2:focus, .hvr-sweep-to-bottom-2:active {
  color: white;
}
.hvr-sweep-to-bottom-2:hover:before, .hvr-sweep-to-bottom-2:focus:before, .hvr-sweep-to-bottom-2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-3:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8ad7f8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-3:hover, .hvr-sweep-to-bottom-3:focus, .hvr-sweep-to-bottom-3:active {
  color: white;
}
.hvr-sweep-to-bottom-3:hover:before, .hvr-sweep-to-bottom-3:focus:before, .hvr-sweep-to-bottom-3:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-4:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4ec0aa;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-4:hover, .hvr-sweep-to-bottom-4:focus, .hvr-sweep-to-bottom-4:active {
  color: white;
}
.hvr-sweep-to-bottom-4:hover:before, .hvr-sweep-to-bottom-4:focus:before, .hvr-sweep-to-bottom-4:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

@media only screen and (max-width: 1024px) {
/* Red Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-1:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-1:hover, .hvr-sweep-to-bottom-1:focus, .hvr-sweep-to-bottom-1:active {
  color: white;
}
.hvr-sweep-to-bottom-1:hover:before, .hvr-sweep-to-bottom-1:focus:before, .hvr-sweep-to-bottom-1:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Yellow Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-2:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-2:hover, .hvr-sweep-to-bottom-2:focus, .hvr-sweep-to-bottom-2:active {
  color: white;
}
.hvr-sweep-to-bottom-2:hover:before, .hvr-sweep-to-bottom-2:focus:before, .hvr-sweep-to-bottom-2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-3:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8ad7f8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-3:hover, .hvr-sweep-to-bottom-3:focus, .hvr-sweep-to-bottom-3:active {
  color: white;
}
.hvr-sweep-to-bottom-3:hover:before, .hvr-sweep-to-bottom-3:focus:before, .hvr-sweep-to-bottom-3:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-4:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-4:hover, .hvr-sweep-to-bottom-4:focus, .hvr-sweep-to-bottom-4:active {
  color: white;
}
.hvr-sweep-to-bottom-4:hover:before, .hvr-sweep-to-bottom-4:focus:before, .hvr-sweep-to-bottom-4:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-37c484e1 *//* Scroll Bar Hack - CSS Styled */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #54595F;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

/* Make All Menu items Same Width - 25% */
.elementor-nav-menu li {
    width: 25%;
}

@media only screen and (max-width: 1025px) {
	.elementor-nav-menu li {
			width: 100%;
	}
}

/* Dropdown Adjust Back To Full Width - 100% */
.menu-item-48 {
    width: 100% !important;
}

.menu-item-49 {
    width: 100% !important;
}

.menu-item-50 {
    width: 100% !important;
}

.menu-item-205 {
    width: 100% !important;
}

.menu-item-41 {
    width: 100% !important;
}

.menu-item-42 {
    width: 100% !important;
}

.menu-item-43 {
    width: 100% !important;
}

/* Mobile Menu Outline None */
.elementor-17 .elementor-element.elementor-element-635456fb div.elementor-menu-toggle:hover {
    outline: none;
}

/* Red Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-1:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3705a;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-1:hover, .hvr-sweep-to-bottom-1:focus, .hvr-sweep-to-bottom-1:active {
  color: white;
}
.hvr-sweep-to-bottom-1:hover:before, .hvr-sweep-to-bottom-1:focus:before, .hvr-sweep-to-bottom-1:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Yellow Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-2:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffd15c;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-2:hover, .hvr-sweep-to-bottom-2:focus, .hvr-sweep-to-bottom-2:active {
  color: white;
}
.hvr-sweep-to-bottom-2:hover:before, .hvr-sweep-to-bottom-2:focus:before, .hvr-sweep-to-bottom-2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-3:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8ad7f8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-3:hover, .hvr-sweep-to-bottom-3:focus, .hvr-sweep-to-bottom-3:active {
  color: white;
}
.hvr-sweep-to-bottom-3:hover:before, .hvr-sweep-to-bottom-3:focus:before, .hvr-sweep-to-bottom-3:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-4:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4ec0aa;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-4:hover, .hvr-sweep-to-bottom-4:focus, .hvr-sweep-to-bottom-4:active {
  color: white;
}
.hvr-sweep-to-bottom-4:hover:before, .hvr-sweep-to-bottom-4:focus:before, .hvr-sweep-to-bottom-4:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

@media only screen and (max-width: 1024px) {
/* Red Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-1:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-1:hover, .hvr-sweep-to-bottom-1:focus, .hvr-sweep-to-bottom-1:active {
  color: white;
}
.hvr-sweep-to-bottom-1:hover:before, .hvr-sweep-to-bottom-1:focus:before, .hvr-sweep-to-bottom-1:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Yellow Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-2:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-2:hover, .hvr-sweep-to-bottom-2:focus, .hvr-sweep-to-bottom-2:active {
  color: white;
}
.hvr-sweep-to-bottom-2:hover:before, .hvr-sweep-to-bottom-2:focus:before, .hvr-sweep-to-bottom-2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-3:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8ad7f8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-3:hover, .hvr-sweep-to-bottom-3:focus, .hvr-sweep-to-bottom-3:active {
  color: white;
}
.hvr-sweep-to-bottom-3:hover:before, .hvr-sweep-to-bottom-3:focus:before, .hvr-sweep-to-bottom-3:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Blue Sweep to Bottom Animation Effect - Navbar */
.hvr-sweep-to-bottom-4:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-4:hover, .hvr-sweep-to-bottom-4:focus, .hvr-sweep-to-bottom-4:active {
  color: white;
}
.hvr-sweep-to-bottom-4:hover:before, .hvr-sweep-to-bottom-4:focus:before, .hvr-sweep-to-bottom-4:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
}/* End custom CSS */